@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

#f1, #f3, #f5{
    background-color: white;
}
.main{
    margin-top: 40px;
}
.back-light  .featurette-heading{
    color: #33383b;
}
.back-light  .featurette-heading .text-muted{
    color: #3e3e3e;
}
.back-light  .lead{
    color: black;
}
.featurette{
    margin-bottom: 40px;
    padding: 70px;
    background-color: #2D424B;
    border-radius: 20px;
}
.card-pack{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mycard{
    background-color: #3a5460;
    border-radius: 20px;
    padding: 40px 10px 10px;
    margin: 15px;
    box-shadow: 3px 7px 2px #374048;
}
.row-space{
    padding: 30px;
}
.mycard h2{
    color: white;
}
.mycard p{
    color: #d6d6d6;
}
#stat-learn, #work-learn, #device-learn{
    background-color: #ffffff !important;
    border: 3px solid rgb(112,216,162) !important;
    border-radius: 40px;
    color: black;
}
.featurette-heading{
    color: #e5e5e5;
}
.title-bar-names{
    font-family: QuickSand, sans-serif;
    font-weight: 100;
}

.featurette-divider{
    border: 0.5px solid #919191;
}

.lead{
    color: white;
}
.nav-link{
    font-family: QuickSand, sans-serif;
    color: black;
    font-size: 20px;
}
.nav-link:hover{
    color: #3e3e3e;
}
.navbar{
    background: white;
}
.navbar-brand img{
    width: 300px;
}

#body{
    background-color: #1F2E35;
}

.animate .hover {
    transition: all 0.1s ease-in-out;
}
.animate .hover:before, .animate .hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 5px;
    transition: all 0.1s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: rgb(112,216,162);
}

.animate .hover.hover-3:before {
    left: 50%;
}
.animate .hover.hover-3:after {
    right: 50%;
}

.animate:hover {
    cursor: pointer;
}
.animate:hover .hover:before, .animate:hover .hover:after {
    width: 100%;
    opacity: 1;
}
.animate:hover .hover.hover-3:before, .animate:hover .hover.hover-3:after, .animate:hover .hover.hover-4:before, .animate:hover .hover.hover-4:after {
    width: 40%;
}
#grid-image {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 100px;
}

#big-name{
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    margin-top: -40%;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10ex;
    line-height: 300px;
    text-align: center;
    letter-spacing: 0.225em;
    color: #FFFFFF;

}
.hidden{
    opacity: 0;
}



#main-title{
    background-color: #1F2E35;
}


.chart {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: absolute;
    height: 200px;
    padding-right: 30px;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
}
.chart span {
    margin: 0 0;
    display: block;
    background: rgb(69, 255, 153);
    width: 20px;
    border-radius: 10px;
}

@keyframes draw {
    0% {
        height: 0;
    }
}
.chart-animate{
    animation: draw 1s ease-in-out;
}
#features{
    position: relative;
    margin-top: 4%;
    height: 600px;
    background: #2D424B;
    border-radius: 20px;
}
#main-foot{
    background-color: #2D424B;
}
#cr{
    background-color: #1a262d;
}
#features-img{
    width: 850px;
    margin-left: 500px;
    margin-top: 80px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.feature-fadeIn{
    animation: fadeIn 2s ease-in;
}
* {
    font-family: QuickSand, sans-serif;
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}
.fa {
    padding: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
#insta{
    margin: 10px;
    font-size: 30px;
    background: #ffffff;
    padding: 15px;
    color: black;
}
#git{
    margin: 0;
    font-size: 30px;
    background: #000000;
    padding: 15px;
}

.fa:hover{
    opacity: 0.75;
    box-shadow:  3px 4px #3b3b3b;
}
#fbook{
    font-size: 25px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

@media (max-width: 767px) {
   #workouts-img{
       padding-left: 70px;
       width: 320px;
       height: 550px
   }
    #iphoneDevice{
        padding-right: 50px;
    }
    #f4{
        height: 650px;
    }
    #chart-contain{
        margin-bottom: 400px;
        padding: 0 0 400px;
    }
    #row-2{
        padding-top: 0;
    }
    #row-1{
        padding-bottom: 0;
    }

}
@media (min-width: 768px) and (max-width: 990px) {
    #iphoneDevice{
        height: 250px;
        margin-top: 50px;
    }
    #chart{
        margin: 0;
        padding: 0;
    }
    #chart-img{
        padding: 0 20px 0 0;
    }
    #devices-img{
        margin-top: 100px;
        width: 300px;
    }
    #row-2{
        padding-top: 0;
    }
    #row-1{
        padding-bottom: 0;
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    #t2{
        padding-top: 70px;
    }
    #t3{
        padding-top: 50px;
    }
}
@media (min-width: 1200px) {
    .text-middle{
        padding-top: 100px;
    }
    .text-half-middle{
        padding-top: 70px
    }
    .image{
        position: relative;
    }
    #t4{
        padding-top: 60px;
    }
}
